/* ! WIDTH */

.w-fit-content {
    width: fit-content;
}

.w-30 {
    width: 30%;
}

.w-110 {
    width: 110%;
}


/* ! HEIGHT */

.h-100 {
    height: 100%;
}

.min-vh-75 {
    min-height: 75vh;
}

.max-vh-8 {
    max-height: 8vh !important;
}

.max-vh-3 {
    max-height: 3vh !important;
}


/* ! POSITION */

.start-25 {
    left: 25%;
}

.bottom-5 {
    bottom: 5%;
}

.bottom-75 {
    bottom: 75%;
}