@import 'bootstrap';
@import 'bootstrap-icons';

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    word-spacing: 0.8rem;
    letter-spacing: 0.1rem;
}

.nav-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

#books .list-group-item:hover{
    background-color: black !important;
}

#books .list-group-item:hover a{
    color: white !important;
}

.card-img {
    max-height: 80vh;
    width: auto;
}